rp-discovery-webfinger-acct requires non-standard input

The `rp-discovery-webfinger-acct` test requires a query to be made using an `acct:` prefixed resource. Section 7 of RFC 7565 says an `acctURI` is `"acct" ":" userpart "@" host` where `host` is barrowed from RFC 3986. There, `host` is defined to be `IP-literal / IPv4address / reg-name` whereas `authority` is `[ userinfo "@" ] host [ ":" port ]`. 

Because the RP test tool runs on port 8080, `rp-discovery-webfinger-acct` seems to require a port, so the input requires an authority not an acct URI. 

Is this correct or I am misunderstanding something? If not, how can the port `8080` of the host be derived from the resource `someRP.rp-discovery-webfinger-acct@rp.certification.openid.net`? It seems that my RP cannot.

I'd like to have guidance from @selfissued and @rohe on the next steps wrt. the suite.

