IndexError:list index out of range

Hi,

I am trying to test my OIDC implementation, but for all test cases I receive the following exception: `Discovery:OP-Response-Missing: status=ERROR, message=list index out of range`

![exception](https://preview.ibb.co/e6Y0bG/Fire_Shot_Capture_2_Open_ID_Connect_Provider_Certification_https_op_certification_openid_net.png)

Any idea?

It seems you've configured your instance `https://oidc.spomky-labs.com/` to use Discovery. Hence the tool tries to download configuration metadata from `https://oidc.spomky-labs.com/.well-known/openid-configuration` which seems to fail. Right now I get:
```
curl https://oidc.spomky-labs.com/.well-known/openid-configuration
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>An Error Occurred: Internal Server Error</title>
    </head>
    <body>
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "500 Internal Server Error".</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </body>
</html>
```
I would agree that the error message should be clear about that, but you have to fix this anyway (or not use Discovery but statically configure values).

Hi @zandbelt,

Thank you for the quick reply.
I fixed some bugs and the https://oidc.spomky-labs.com/.well-known/openid-configuration now works fine.
For some tests, I receive a new exception: `UnknownKeyType:{"error_description": "OKP", "error": "service_error"}`
It looks like the keys with type OKP I use are not supported. This key type is part of the [RFC8037 (see section2)](https://tools.ietf.org/html/rfc8037#section-2) 

OKP is not supported and I don't think it needs to be part of the certification suite. The OpenID Connect spec refers to the JWA spec (RFC7518) only for the signing algorithms, it doesn't refer to RFC8037. I'll let @rohe and @selfissued comment.

I may be wrong but the spec mentions when symmetrical encryption is to be used and in need of  to always derive the key from the respective `client_secret`.

  > Symmetric Encryption
  > The symmetric encryption key is derived from the client_secret value by using a left truncated SHA-2 hash of the octets of the UTF-8 representation of the client_secret. For keys of 256 or fewer bits, SHA-256 is used; for keys of 257-384 bits, SHA-384 is used; for keys of 385-512 bits, SHA-512 is used. The hash value MUST be left truncated to the appropriate bit length for the AES key wrapping or direct encryption algorithm used, for instance, truncating the SHA-256 hash to 128 bits for A128KW. If a symmetric key with greater than 512 bits is needed, a different method of deriving the key from the client_secret would have to be defined by an extension. Symmetric encryption MUST NOT be used by public (non-confidential) Clients because of their inability to keep secrets.

Very similar for signing

  > Symmetric Signatures
  > When using MAC-based signatures, the alg Header Parameter value of the JOSE Header MUST be set to a MAC algorithm, as defined in JSON Web Algorithms [JWA]. The MAC key used is the octets of the UTF-8 representation of the client_secret value. See Section 16.19 for a discussion of entropy requirements for client_secret values. Symmetric signatures MUST NOT be used by public (non-confidential) Clients because of their inability to keep secrets.


But I believe this is about assymetric as RFC 8037 section 2 mentions:
> A new key type (kty) value "OKP" (Octet Key Pair) is defined for
>    public key algorithms that use octet strings as private and public
>    keys. 
> 

So that's for `EdDSA` signing then, not `ECDH-ES` encryption.

> OKP is not supported and I don't think it needs to be part of the certification suite. The OpenID Connect spec refers to the JWA spec (RFC7518) only for the signing algorithms, it doesn't refer to RFC8037. I'll let @rohe and @selfissued comment.

I agree with you. This key type is not part of the certification suite. However there is not reason to throw an exception when an unknown key type is in the key set.

> So that's for EdDSA signing then, not ECDH-ES encryption.

This is an *asymmetric* key type that can be used.
* for signature (curves `Ed25519` and `Ed448`) 
* for encryption (curves `X25519` and `X448`)

Ok, I see: the point is that the test tool breaks on unknown key types. It should just ignore those and get going with the ones are in the spec and that it does know about. Right?

@Spomky could you send me the offending JWKS ?
I've tried [https://oidc.spomky-labs.com/.well-known/openid-configuration](https://oidc.spomky-labs.com/.well-known/openid-configuration) and it just gives me a 500.

Here it is:

```json
{
  "keys":[
    {
      "kid":"BfxfnahEtkRBG3Hojc9XGLGht_5rDBj49Wh3sBDVnzRpulMqYwMRmpizA0aSPT1fhCHYivTiaucWUqFu_GwTqA",
      "use":"sig",
      "alg":"ES256",
      "kty":"EC",
      "crv":"P-256",
      "x":"1XXUXq75gOPZ4bEj1o2Z5XKJWSs6LmL6fAOK3vyMzSc",
      "y":"ac1h_DwyuUxhkrD9oKMJ-b_KuiVvvSARIwT-XoEmDXs"
    },
    {
      "kid":"91pD1H81rXUvrfg9mkngIG-tXjnldykKUVbITDIU1SgJvq91b8clOcJuEHNAq61eIvg8owpEvWcWAtlbV2awyA",
      "use":"sig",
      "alg":"ES256",
      "kty":"EC",
      "crv":"P-256",
      "x":"2DfQoLpZS2j3hHEcHDkzV8ISx-RdLt6Opy8YZYVm4AQ",
      "y":"ycvkFMBIzgsowiaf6500YlG4vaMSK4OF7WVtQpUbEE0"
    },
    {
      "kid":"0sIEl3MUJiCxrqleEBBF-_bZq5uClE84xp-wpt8oOI-WIeNxBjSR4ak_OTOmLdndB0EfDLtC7X1JrnfZILJkxA",
      "use":"sig",
      "alg":"RS256",
      "kty":"RSA",
      "n":"yG9914Q1j63Os4jX5dBQbUfImGq4zsXJD4R59XNjGJlEt5ek6NoiDl0ucJO3_7_R9e5my2ONTSqZhtzFW6MImnIn8idWYzJzO2EhUPCHTvw_2oOGjeYTE2VltIyY_ogIxGwY66G0fVPRRH9tCxnkGOrIvmVgkhCCGkamqeXuWvx9MCHL_gJbZJVwogPSRN_SjA1gDlvsyCdA6__CkgAFcSt1sGgiZ_4cQheKexxf1-7l8R91ZYetz53drk2FS3SfuMZuwMM4KbXt6CifNhzh1Ye-5Tr_ZENXdAvuBRDzfy168xnk9m0JBtvul9GoVIqvCVECB4MPUb7zU6FTIcwRAw",
      "e":"AQAB"
    },
    {
      "kid":"zyDfdEU7pvH0xEROK156ik8G7vLO1MIL9TKyL631kSPtr9tnvs9XOIiq5jafK2hrGr2qqvJdejmoonlGqWWZRA",
      "use":"sig",
      "alg":"RS256",
      "kty":"RSA",
      "n":"68be-nJp46VLj4Ci1V36IrVGYqkuBfYNyjQTZD_7yRYcERZebowOnwr3w0DoIQpl8iL2X8OXUo7rUW_LMzLxKx2hEmdJfUn4LL2QqA3KPgjYz8hZJQPG92O14w9IZ-8bdDUgXrg9216H09yq6ZvJrn5Nwvap3MXgECEzsZ6zQLRKdb_R96KFFgCiI3bEiZKvZJRA7hM2ePyTm15D9En_Wzzfn_JLMYgE_DlVpoKR1MsTinfACOlwwdO9U5Dm-5elapovILTyVTgjN75i-wsPU2TqzdHFKA-4hJNiWGrYPiihlAFbA2eUSXuEYFkX43ahoQNpeaf0mc17Jt5kp7pM2w",
      "e":"AQAB"
    },
    {
      "kid":"q-H9y8iuh3BIKZBbK6S0mH_isBlJsk-u6VtZ5rAdBo5fCjjy3LnkrsoK_QWrlKB08j_PcvwpAMfTEDHw5spepw",
      "use":"sig",
      "alg":"EdDSA",
      "kty":"OKP",
      "crv":"Ed25519",
      "x":"FnbcUAXZ4ySvrmdXK1MrDuiqlqTXvGdAaE4RWZjmFIQ"
    },
    {
      "kid":"bL33HthM3fWaYkY2_pDzUd7a65FV2R2LHAKCOsye8eNmAPDgRgpHWPYpWFVmeaujUUEXRyDLHN-Up4QH_sFcmw",
      "use":"sig",
      "alg":"EdDSA",
      "kty":"OKP",
      "crv":"Ed25519",
      "x":"CS01DGXDBPV9cFmd8tgFu3E7eHn1UcP7N1UCgd_JgZo"
    }
  ]
}
```

Excellent, thanks !

OK, I've fixed this in my fork of the underlying libraries. Will take a bit of time to get it by the other committers.

The PR for pyoidc is here:
https://github.com/OpenIDC/pyoidc/pull/431


That was changed into a new PR https://github.com/OpenIDC/pyoidc/pull/485 that needs to go into pyoidc.

https://github.com/OpenIDC/pyoidc/commit/2feb099f4f4e26047888437aea1226237d05ebba

The "skip unknown key" feature is now rolled out on production as part of [OP release 2.0.14](https://github.com/openid-certification/oidctest/releases/tag/v1.0.17). @Spomky  please confirm.


Hi,

I tried with that new version, but I have the following error:

```html

500 Internal Server Error

Can't do <function set_webfinger_resource at 0x7f4bdaf3ad08>

Powered by CherryPy 8.9.1

```

All good Thank you.

Doesn't the deleted error message in fact point to a (different) error that should be addressed in the test suite? If so, we'd like to know even though this one can be closed...

That wasn't an error from the test suite. The configuration of my instance contained wrong parameters.

sure, but if that config error led to something unexpected/unclear in the test suite we should address that

This may be linked to https://github.com/openid-certification/oidctest/issues/75.

I let a blank value for parameter `webfinger_url`. At first sight, I thought that the URL was guessed by the test suite. For example with user identifier `acct:userinfo%40host@example.com:8910`, the suite could understand that the web finger URL is `https://example.com:8910/.well-known/webfinger`.

In addition to the tooltips, some checks may be added. For example, if a mandatory parameter requires an URL (like `webfinger_url`), then check that the value is a non-empty valid URL.

yeah, that's probably worth a separate issue: input checking on the configuration parameters (since that really doesn't exist today)