WebFinger is 404 on test OP used with RP certification

[Unsure if this is a bug with the test tool itself or only [the foundation's deployment of it](https://rp.certification.openid.net:8080). Creating a bug here in any case, and hoping that others can refer me to the right venue if this isn't applicable to this issue tracker.]

We are in the process of certifying our RP, [oauth.tools](https://oauth.tools). The [instructions for doing so](https://openid.net/certification/rp_testing/) talk about WebFinger and say that normal process for each test is to "(1) do a WebFinger lookup, (2) retrieve the OP configuration, (3) perform dynamic registration, (4) send an authentication request using the chosen response_type, and (5) process the authentication response." 

I understand that step 1 there is optional, and @zandbelt [confirmed that on Twitter](https://twitter.com/hanszandbelt/status/1131835626461044736). This is fine; I can go straight to step 2 for most tests. _I have done this and completed many tests._ However, for others like `rp-discovery-webfinger-acct`, `rp-discovery-webfinger-http-href`, `rp-discovery-webfinger-url`, WebFinger is required. This is not a problem; our RP supports WebFinger. 

**The problem is that (IINM) the tool's WebFinger support is wholly and entirely broken.**

The docs talk about how to compute the resource provided in a WebFinger lookup; they say:

> If your RP supports WebFinger, you can look up the issuer for a test using either of these issuer identifier syntaxes:
>
> acct:RP_ID.TEST_ID@rp.certification.openid.net:8080
> https://rp.certification.openid.net:8080/RP_ID/TEST_ID 

An example is given as well: `https://rp.certification.openid.net:8080/mod_auth_openidc/rp-response_type-code`. 

Following RFC 7033, I created the following WebFinger request:

```http
GET /.well-known/webfinger?resource=https://rp.certification.openid.net:8080/mod_auth_openidc/rp-response_type-code HTTP/1.1
Host: rp.certification.openid.net:8080
```

To this, I get a 404 with an HTML payload. This is incorrect on multiple levels (_unless_ the host doesn't support WebFinger at all, in which case, I'm very confussed).

So, all this to say that WebFinger on the test tool for RP certification is down, not deployed, not implemented, or (totally possible) I'm misunderstanding something. 

Can anyone provide me with some help to pass the WebFinger related tests using the RP test tool?

The tool expects you to use: https://rp.certification.openid.net:8080/mod_auth_openidc/rp-response_type-code/.well-known/openid-configuration

How then is it possible to perform rp-discovery-webfinger-acct,
rp-discovery-webfinger-http-href, rp-discovery-webfinger-url, and the other
webfinger tests?


Exactly the same as doing discovery only with the webfinger path see [here](https://github.com/panva/openid-client-conformance-tests/blob/master/test/discovery.js)

Can you elaborate, @panva, I don't understand that code? Can you paste a sample HTTP request that is valid for the `mod_auth_openidc` RP ID?

https://rp.certification.openid.net:8080/mod_auth_openidc/{test_identifier}/.well-known/webfinger is the webfinger url to request to

Those endpoints also give 404s for each test case, @panva , but that doesn't matter anyway because **they are not standard complaint endpoints to perform a WebFinger query**. This is nuanced, so let me explain why I say this.

[Section 2 of OpenID Connect Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery) says the RP "makes an HTTP GET request to the Host's WebFinger [RFC7033] endpoint with the resource and rel parameters to obtain the location of the requested service," the OpenID Connect Provider. No controversy here.

[Section 4 of RFC 7033](https://tools.ietf.org/html/rfc7033#section-4), however, says, that the "**path** component of a WebFinger URI MUST be the well-known path '/.well-known/webfinger'." RFC 3986 (which the WebFinger RFC references) has a clear schematic of what exactly "path" means in [section 3](https://tools.ietf.org/html/rfc3986#section-3):

```
         foo://example.com:8042/over/there?name=ferret#nose
         \_/   \______________/\_________/ \_________/ \__/
          |           |            |            |        |
       scheme     authority       path        query   fragment
``` 

So, from this, it's clear that the only endpoint that the RP under test should make a WebFinger query to is https://rp.certification.openid.net:8080/.well-known/webfinger. This is why I was confused when this returned a 404. Without this, any WebFinger test in the RP test suite isn't possible to perform.

When you stop and think about RFC 7033's requirement to use "/.well-known/webfinger", it makes sense. If "/mod_auth_openidc/{test_identifier}/.well-known/webfinger" were a viable path, there would be no need to perform the WebFinger request described in Section 2 of OpenID Connect Discovery; you'd know the OP's .well-known endpoint's location, so you could follow section [4 of OpenID Connect Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig) to just replace "webfinger" with "openid-configuration" and get the config of the OP (e.g., from "/mod_auth_openidc/{test_identifier}/.well-known/openid-configuration"). 

The confusion comes in because both WebFinger and OpenID Discovery reference [RFC 5785, Defniing Well-known URIs](https://tools.ietf.org/html/rfc5785). That OpenID Connect spec allows the path to be proceeded by some path component before the ".well-known" when it says in section 4 that "OpenID Providers supporting Discovery MUST make a JSON document available **at the path formed by concatenating the string /.well-known/openid-configuration to the Issuer**". Section 4.1 gives an example of an ".well-known/openid-configuratioon endpoint that is not at the root. This breaks from RFC 5785's definition, and the justification given is around multi-tenancey. I think this was a good design decision, but it means that there may be two or more .well-known endpoints on an OpenID Connect Provider that supports WebFinger:

1. The one in the root where the RP can make WebFinger request
2. The other below some path (if the issuer URI contains a path component) 

So, all this to say, that the OP that the RP test tool is communicating with MUST be at https://rp.certification.openid.net:8080/.well-known/webfinger. Anything else is not standard compliant, and is therefore a bug.

OK, nevermind, you're right - just checked my own code.

`https://rp.certification.openid.net:8080/.well-known/webfinger` is the fixed url and the webfinger input would be specific to each test as you can see 

- https://github.com/panva/openid-client-conformance-tests/blob/master/test/discovery.js#L25
- https://github.com/panva/openid-client-conformance-tests/blob/master/test/discovery.js#L33
- https://github.com/panva/openid-client-conformance-tests/blob/master/test/discovery.js#L41
- https://github.com/panva/openid-client-conformance-tests/blob/master/test/discovery.js#L79
- https://github.com/panva/openid-client-conformance-tests/blob/master/test/discovery.js#L86

```
https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-url/joe
acct:node-openid-client.rp-discovery-webfinger-acct@rp.certification.openid.net:8080
https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-unknown-member
https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-http-href
```

All 404s! Is it just me?

```
~> cat /tmp/wftest.sh
#!/bin/bash

for r in 'https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-url/joe' \
	'acct:node-openid-client.rp-discovery-webfinger-acct@rp.certification.openid.net:8080' \
	'https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-issuer-not-matching-config' \
	'https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-unknown-member' \
	'https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-http-href'
do
	URL="https://rp.certification.openid.net:8080/.well-known/webfinger?resource=$r"
	echo "Testing $URL"
	curl -I -G $URL
	echo "-----------------------------------------------------------"
done
~> /tmp/wftest.sh
Testing https://rp.certification.openid.net:8080/.well-known/webfinger?resource=https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-url/joe
HTTP/1.1 404 Not Found
Content-Type: text/html;charset=utf-8
Server: CherryPy/8.9.1
Date: Sat, 25 May 2019 21:02:15 GMT
Content-Length: 734
Set-Cookie: session_id=18425237bd4021ddaed56472942b90bb6ae66820; expires=Sat, 25 May 2019 22:02:15 GMT; Path=/

-----------------------------------------------------------
Testing https://rp.certification.openid.net:8080/.well-known/webfinger?resource=acct:node-openid-client.rp-discovery-webfinger-acct@rp.certification.openid.net:8080
HTTP/1.1 404 Not Found
Content-Type: text/html;charset=utf-8
Server: CherryPy/8.9.1
Date: Sat, 25 May 2019 21:02:16 GMT
Content-Length: 734
Set-Cookie: session_id=60ad1f406f0891d5614c4a233a0722173d625e00; expires=Sat, 25 May 2019 22:02:16 GMT; Path=/

-----------------------------------------------------------
Testing https://rp.certification.openid.net:8080/.well-known/webfinger?resource=https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-issuer-not-matching-config
HTTP/1.1 404 Not Found
Content-Type: text/html;charset=utf-8
Server: CherryPy/8.9.1
Date: Sat, 25 May 2019 21:02:16 GMT
Content-Length: 734
Set-Cookie: session_id=98d8d119021f36ce887806eb845e23e7a902bb22; expires=Sat, 25 May 2019 22:02:16 GMT; Path=/

-----------------------------------------------------------
Testing https://rp.certification.openid.net:8080/.well-known/webfinger?resource=https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-unknown-member
HTTP/1.1 404 Not Found
Content-Type: text/html;charset=utf-8
Server: CherryPy/8.9.1
Date: Sat, 25 May 2019 21:02:17 GMT
Content-Length: 734
Set-Cookie: session_id=64ea97e10043595f75c82fb0edaf2c89a94006fa; expires=Sat, 25 May 2019 22:02:17 GMT; Path=/

-----------------------------------------------------------
Testing https://rp.certification.openid.net:8080/.well-known/webfinger?resource=https://rp.certification.openid.net:8080/node-openid-client/rp-discovery-webfinger-http-href
HTTP/1.1 404 Not Found
Content-Type: text/html;charset=utf-8
Server: CherryPy/8.9.1
Date: Sat, 25 May 2019 21:02:17 GMT
Content-Length: 734
Set-Cookie: session_id=6cb704d11fd10b8ffd4d1af8e624460ee4c15043; expires=Sat, 25 May 2019 22:02:17 GMT; Path=/

-----------------------------------------------------------

You're missing `&rel=http%3A%2F%2Fopenid.net%2Fspecs%2Fconnect%2F1.0%2Fissuer`

`rel` is optional. See 4.3 of RFC 7033:

> When issuing a request to a WebFinger resource, the client MAY
>  utilize the "rel" parameter to request only a subset of the
>  information that would otherwise be returned without the "rel"
>  parameter.

So, that's the bug. The simulated OP should response the same with and without `rel`.

Not disputing that, but 

> Issuer discovery requires the following information to make a discovery request

And ‘rel’ is listed. 

I’ll leave this up to @selfissued

That list is merely about the information that the RP needs to have on hand. It isn't changing the required inputs of the query. I've created a [bug in the OIDC spec repo](https://bitbucket.org/openid/connect/issues/1091/alternative-wording-to-avoid-confussion) to get this clarified. 

In summary, these are the issues I have found:

- [ ] `rel` is required but ought not be
- [ ] An errant request to `/.well-known/webfinger` should return a an empty `application/jrd+json` document per section 4.2 of RFC 7033. It should never return a 404 and it should never return HTML!
- [ ] The documentation on the foundation's web site should be updated to include not only sample `resource` query string parameter values, but also a full WebFinger query. This is especially important to have until the tool can be fixed to be standard compliant.

I'd like to have guidance from @selfissued and @rohe on the next steps wrt. the suite.

`rel` is optional in RFC7033. My interpretation is that in OIDCs usage of WebFinger for issuer discovery  it is REQUIRED.
See https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery .

Roland is correct that OpenID Connect's usage of WebFinger requires the use of the "rel" parameter.

thanks guys; @travisspencer let me know if there's more to discuss otherwise feel free to close

I don't get why the server can't return a 404. And since a 404 is an error code the server is free to (actually it SHOULD) return an error message that can be ordinary HTML.
As described in https://tools.ietf.org/html/rfc7231#page-58  section 6.5